.container {
  font-family: "Srisakdi", cursive;
  color: #dc6b9c;
  max-width: 600px;
  max-height: 600px;
  margin-left: 20px;
  margin-top: 20px;
}

.weatherWrapper {
  background-color: #7beaf3;
  border: 2px solid #f6a9ce;
  border-radius: 10px;
}

h1 {
  text-align: center;
}
