.container {
  font-family: "Srisakdi", cursive;
  color: white;
  max-width: 700px;
  max-height: 650px;
  margin: 0 auto;
  padding-top: 10px;
}

.weatherWrapper {
  background: linear-gradient(
    106.7deg,
    rgb(251, 0, 145) -2.6%,
    rgb(251, 134, 145) 31%,
    rgb(251, 158, 145) 45.8%,
    rgb(251, 218, 145) 100.1%
  );
  border: 2px solid white;
  border-radius: 10px;
}

h1 {
  text-align: center;
}

a {
  color: #f29b91;
}

a:hover {
  color: #f7c091;
}

.coder {
  color: #ec4f90;
}
